body {
  font-family: Helvetica, sans-serif;
  background-image: url(../img/fon.jpg);
  background-attachment: fixed;
}


.page-item {
  margin-bottom: 800px;
}

.card-text {
  max-height: 45px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.foter {
  margin-top: 400px;
}